/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --accent-color: #0095ac;
    --background-color: #f9f9f9;
    --background-color2: #ccc;
    --text-color: #333;
    --light-text-color: #fff;
    --border-color: #ccc;
    --placeholder-color: #ccc;

    --font-family: 'Roboto', sans-serif;
    --base-font-size: 1rem;

    --heading-font-size: 2rem;
    --section-padding: 3.75rem 0;
    --container-max-width: 75rem;
    --container-padding: 1.25rem;
    --input-padding: 0.625rem;
    --input-border-radius: 0.3125rem;
    --button-padding: 0.625rem 1.25rem;
    --button-border-radius: 0.3125rem;
    --header-padding: 1.00rem 0;
    --footer-padding: 1.25rem 0;
}

/* Global Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    line-height: 1.6;
}

/* Container Styles */
.container {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: var(--container-padding);
    width: 100%;
}

/* Section Specific Styles */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Scrolling and Overflow Behaviors */
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: var(--header-padding);
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
}

/* Styles for the header logo */
.logo img {
    display: block;
    height: auto;
    max-width: 200px;
    min-width: 100px;
}

/* Navigation menu styles */

/* Transparent header styles */
.transparent-header {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Cabeçalho com fundo visível após rolar */
.header-scrolled {
    background-color: var(--primary-color);
}

/* Estilo para o cabeçalho transparente */
.transparent-header .nav-menu a,
.transparent-header .logo h1 {
    color: var(--primary-color);
}

/* Estilo para o cabeçalho com fundo visível */
.header-scrolled .nav-menu a,
.header-scrolled .logo h1 {
    color: var(--light-text-color);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: flex;
    align-items: center;
    margin: 0 0.9375rem;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: var(--light-text-color);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu a i {
    margin-right: 0.5rem;
}

.nav-menu a:hover {
    color: var(--accent-color);
}

/* Seletor de idioma */
.language-selector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
    z-index: 1001;
}

.language-selector #current-lang {
    background: none;
    border: none;
    cursor: pointer;
}

.language-selector img {
    border: none;
    border-radius: 50%;
    display: block;
    height: 30px;
    width: 30px;
}

.lang-options {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 31px;
    right: 0;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

.language-selector img:hover,
.lang-btn:hover img {
    transform: scale(1.1);
}

/* Exibir opções de idiomas ao passar o mouse */
.language-selector:hover .lang-options {
    display: flex;
}

/* Menu Hamburguer (mobile) */
.hamburger-menu {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 1.25rem;
    right: 1.25rem;
}

.hamburger-menu i {
    color: var(--light-text-color);
    font-size: 1.5rem;
}

/* Seções */

/* Video de fundo */
#home-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Para garantir que o conteúdo da seção esteja acima do vídeo */
.home-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: var(--light-text-color);
    }

.home-section .container {
    z-index: 1;
}

section {
    text-align: center;
    padding: var(--section-padding);
    padding-top: 5rem;
}

section h2 {
    color: var(--primary-color);
    font-size: var(--heading-font-size);
    margin-bottom: 1.25rem;
}

section p {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    color: var(--secondary-color);
    font-size: 1.1rem;
    margin-bottom: 0.625rem;
}

.services-section {
    background-color: var(--background-color2);
}

.home-section h2 {
    color: var(--light-text-color);
    font-size: var(--heading-font-size);
    margin-bottom: 1.25rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.home-section p {
    color: var(--light-text-color);
    font-size: 1.1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Formulário de Agendamento */
.booking-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-section label {
    font-size: 1.1rem;
    margin-bottom: 0.3125rem;
}

.booking-section input,
.booking-section select {
    width: 100%;
    max-width: 18.75rem;
    padding: var(--input-padding);
    margin-bottom: 1.25rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.booking-section button {
    padding: var(--button-padding);
    font-size: 1.1rem;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-section button:hover {
    background-color: var(--primary-color);
}

.contact-section a {
    color: var(--accent-color);
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

/* Google Maps */
#map {
    width: 100%;
    height: 18.75rem;
    background-color: var(--placeholder-color);
    margin-top: 1.25rem;
}

#map iframe {
    width: 100%;
    height: 100%;
}

/* Rodapé */
footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: var(--footer-padding);
}


/* Media Queries */

/* Estilo para telas maiores (Desktop) */
@media (min-width: 769px) {
    .nav-menu {
        justify-content: center;
        margin: 0 auto;
        max-width: 50rem;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.show {
        display: block;
    }

    .booking-section form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
    }

    .booking-section input,
    .booking-section select {
        flex: 1;
        min-width: 12.5rem;
    }
}

/* Ajustes para telas menores (Tablet e Smartphone) */
@media (max-width: 768px) {

    .logo img {
        max-width: 150px;
    }

    .container {
        padding: 0.625rem;
    }

    header {
        padding: 0.625rem 0;
    }

    header.transparent-header {
        background-color: var(--primary-color);
        background: var(--primary-color);
    }

    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
    }

    /* Ajuste para o seletor de idioma */
    @media (max-width: 768px) {
        .language-selector {
            position: absolute;
            top: 1.25rem;
            right: 3.75rem;
            z-index: 1050;
        }

        .mobile-nav {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--primary-color);
            display: flex;
            justify-content: space-around;
            padding: 0.625rem 0;
            z-index: 1040;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .mobile-nav.show {
        display: block;
    }

    .mobile-nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
    }

    .mobile-nav li {
        margin: 0;
    }

    .mobile-nav a {
        color: var(--light-text-color);
        font-size: 1.5rem;
    }

    .nav-wrapper,
    .nav-menu {
        display: none;
    }

    /* Ajustes nas seções */
    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1rem;
    }

    .booking-section form {
        flex-direction: column;
    }

    .booking-section input,
    .booking-section select {
        width: 100%;
        max-width: 100%;
    }
}