/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis para cores, fontes e tamanhos */
:root {
    --primary-color: #333; /* Cor primária (geral) */
    --secondary-color: #555; /* Cor secundária */
    --accent-color: #0095ac; /* Cor de destaque */
    --background-color: #f9f9f9; /* Cor de fundo */
    --text-color: #333; /* Cor do texto */
    --light-text-color: #fff; /* Cor do texto claro */
    --border-color: #ccc; /* Cor das bordas */
    --placeholder-color: #ccc; /* Cor do placeholder */

    --font-family: 'Roboto', sans-serif; /* Fonte principal */
    --base-font-size: 1rem; /* Tamanho base da fonte */
    --heading-font-size: 2rem; /* Tamanho das fontes de cabeçalho */
    --section-padding: 3.75rem 0; /* Padding das seções */
    --container-max-width: 75rem; /* Largura máxima do container */
    --container-padding: 1.25rem; /* Padding do container */
    --input-padding: 0.625rem; /* Padding dos inputs */
    --input-border-radius: 0.3125rem; /* Border radius dos inputs */
    --button-padding: 0.625rem 1.25rem; /* Padding dos botões */
    --button-border-radius: 0.3125rem; /* Border radius dos botões */
    --header-padding: 1.25rem 0; /* Padding do cabeçalho */
    --footer-padding: 1.25rem 0; /* Padding do rodapé */
}

/* Estilo global */
body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Container padrão */
.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--container-padding);
}

/* Cabeçalho */
header {
    background-color: var(--primary-color);
    padding: var(--header-padding);
    color: var(--light-text-color);
    position: fixed; /* Fixa o cabeçalho na parte superior */
    top: 0; /* Garante que o cabeçalho fique no topo da página */
    width: 100%; /* Ocupa toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho esteja acima de outros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
}

header .logo h1 {
    font-size: var(--heading-font-size);
    margin: 0;
    text-align: left; /* Logo alinhado à esquerda */
}

/* Menu de navegação */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; /* Ocupará o espaço restante entre o logo e o seletor de idioma */
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 0.9375rem;
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    display: flex;
    align-items: center; /* Garante que os ícones e textos estejam na mesma linha */
}

.nav-menu a i {
    margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}

.nav-menu a:hover {
    color: var(--accent-color);
}

/* Seletor de idioma */
.language-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1001; /* Garante que o seletor esteja acima de outros elementos */
    margin-left: auto; /* Empurra o seletor de idioma para o final */
}

.language-selector img {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px; /* Espaço entre as bandeiras */
}

.language-options {
    display: none;
    position: absolute;
    top: 40px; /* Ajuste para o espaçamento necessário abaixo da bandeira principal */
    right: 0; /* Alinhamento à direita */
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--button-border-radius);
    padding: 0.5rem;
    z-index: 1001;
    flex-direction: column;
}

.language-selector img:hover {
    transform: scale(1.1);
}

/* Exibir opções de idiomas ao passar o mouse */
.language-selector:hover .language-options {
    display: flex;
}

/* Menu Hamburguer (mobile) */
.hamburger-menu {
    display: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 1.5rem;
    color: var(--light-text-color);
}

/* Seções */
section {
    padding: var(--section-padding);
    text-align: center;
    padding-top: 5rem; /* Adicionei esse padding para evitar que o conteúdo seja oculto pelo cabeçalho fixo */
}

section h2 {
    font-size: var(--heading-font-size);
    color: var(--primary-color);
    margin-bottom: 1.25rem;
}

section p {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin-bottom: 0.625rem;
}

/* Formulário de Agendamento */
.booking-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-section label {
    font-size: 1.1rem;
    margin-bottom: 0.3125rem;
}

.booking-section input,
.booking-section select {
    padding: var(--input-padding);
    margin-bottom: 1.25rem;
    width: 100%;
    max-width: 18.75rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.booking-section button {
    padding: var(--button-padding);
    font-size: 1.1rem;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-section button:hover {
    background-color: var(--primary-color);
}

/* Rodapé */
footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: var(--footer-padding);
}

/* Google Maps */
#map {
    width: 100%;
    height: 18.75rem; /* 300px convertido para rem */
    background-color: var(--placeholder-color); /* Placeholder até o mapa ser carregado */
    margin-top: 1.25rem;
}

/* Media Queries */

/* Estilo para telas maiores (Desktop) */
@media (min-width: 769px) {
    .nav-menu {
        justify-content: center;
        margin: 0 auto;
        max-width: 50rem; /* 800px convertido para rem */
    }

    .mobile-nav {
        display: none; /* Certifique-se de que o menu mobile não apareça no desktop */
    }

    .booking-section form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem; /* 20px convertido para rem */
    }

    .booking-section input,
    .booking-section select {
        flex: 1;
        min-width: 12.5rem; /* 200px convertido para rem */
    }
}

/* Estilo para telas menores (Tablet e Smartphone) */
@media (max-width: 768px) {
    .container {
        padding: 0.625rem; /* 10px convertido para rem */
    }

    header {
        padding: 0.625rem 0; /* 10px convertido para rem */
    }

    .nav-menu {
        display: none; /* Oculta o menu principal */
    }

    .hamburger-menu {
        display: block; /* Exibe o menu hamburguer */
    }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-around;
        padding: 0.625rem 0; /* 10px convertido para rem */
    }

    .mobile-nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .mobile-nav li {
        margin: 0;
    }

    .mobile-nav a {
        color: var(--light-text-color);
        font-size: 1.5rem;
    }

    /* Ajustes nas seções */
    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1rem;
    }

    .booking-section form {
        flex-direction: column;
    }

    .booking-section input,
    .booking-section select {
        width: 100%;
        max-width: 100%;
    }
}
